@media (max-width: 1000px) {

    .row {
        margin-right: 0; 
        margin-left: 0;
     }
    .container, .col-md-12{
        padding-right: 0; 
        padding-left: 0;
    }

}
.screen-center{
    width : 100%;
    height: calc(100vh - 60px);
  }