img{
  height: 12.5rem;
  width: inherit;
}
.content-wrapper{
  padding: 20px;
}
@media (max-width: 1000px) {
    .row {
        margin-right: 0; 
        margin-left: 0;
     }
    .container, .col-md-12{
        padding-right: 0; 
        padding-left: 0;
    }
}
